[submodule "submodule_1"]
	path = submodule_1
	url = https://github.com/philipebogdan/submodule_1.git
[submodule "submodule_2"]
	path = submodule_2
	url = https://github.com/philipebogdan/submodule_2.git
